# put here your custom config value
menu "Example Configuration"
config WIFI_SCAN_INTERVAL_MS
    int "WiFi network scanning interval / ms"
    default 5000
    help
	Interval in milliseconds between scanning for networks
endmenu
